@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Change Password</h2>

            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="@Url.Action("Dashboard","Home")">
                            <i class="fa fa-home"></i>  <span> Go to DashBoard</span>
                        </a>
                    </li>

                    <li style="padding-right:10px"><span>Change Password</span></li>
                </ol>

            </div>
        </header>
        <div style="padding:100px 0px 0px 200px">
            <h2 class="text-danger">Error.</h2>
            <h3 class="text-danger">An error occurred while processing your request.</h3>
        </div>


    </section>